// bootstrap color override
$primary: #0055a2;
$secondary: #e7e7e7;
$danger: #ff3823;
$warning: #fec63d;
$success: #72bb53;
$info: #5181d4;

// shadow
$shadow-color: #606060;
$shadow: 0px 2px 3px 0px $shadow-color;