@import "variables.scss";

// buttons

.btn-big, .btn-medium, .btn-small {
  border-radius: 15px !important;

  span {
    line-height: 1;

    &:first-of-type {
      font-size: larger;
    }
  }
}

.btn-big {
  font-size: $text-big !important;
  font-weight: bold !important;

  height: 48px !important;
  margin: 10px !important;

  span {
    margin: 0 5px;
  }
}

.btn-medium {
  font-size: $text-medium !important;
  font-weight: bold !important;

  height: 36px !important;
  margin: 7.5px !important;

  span {
    margin: 0 2.5px;
  }
}

.btn-small {
  font-size: $text !important;
  font-weight: normal !important;

  height: 30px !important;
  margin: 5px !important;

  span {
    margin: 0;
  }
}

.btn-circle-big {
  width: 75px !important;
  height: 75px !important;
  padding: 0 !important;
  border-radius: 75px !important;
  justify-content: center !important;
  flex-direction: column !important;
  letter-spacing: -0.5px;

  span:first-of-type {
    margin: 0;
    font-size: 36px;
  }

  span:last-of-type {
    font-size: 13px;
  }
}
@media screen and (max-width: 350px) {
  .btn-circle-big {
    width: 50px !important;

    span:last-of-type {
      font-size: 11px;
    }
  }
}

.btn-circle-small {
  width: 36px !important;
  height: 36px !important;
  padding: 0 !important;
  border-radius: 36px !important;
  justify-content: center !important;

  span {
    margin: 0;
    font-size: 24px;
  }
}

// headings
h1 {
  width: 100%;
  text-align: center;
  font-size: $title;
  font-weight: bold;
  line-height: $title;
  color: $primary;
}

h2 {
  font-size: $subtitle;
  line-height: $subtitle;
  color: $primary;
}

// colors
.danger {
  color: $danger;
}

.warning {
  color: $warning;
}

.success {
  color: $success;
}

.info {
  color: $info;
}

// forms
.select-big, .input-big, .label-big > select, .label-big > input {
  border: 3px solid $primary !important;
  padding: 5px 10px;
}

.select-medium, .input-medium, .label-medium > select, .label-medium > input {
  border: 2px solid $primary !important;
  padding: 2.5px 7.5px;
}

.select-small, .input-small, .label-small > select, .label-small > input {
  border: 1px solid $primary !important;
  padding: 0 5px;
}

.label-big, .label-medium, .label-small {
  font-weight: bold;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-big {
  font-size: $text-big;
}

.label-medium {
  font-size: $text-medium;
}

.label-small {
  font-size: $text;
}

.select-season {
  margin: 5px auto;
  width: auto;
  border: none;
  border-bottom: 2px solid #0055a2;
  border-radius: 15px 15px 0 0 !important;
  background-color: $secondary;
}

.input-gara {
  border: 1px solid $body-color !important;
  padding: 0 2.5px !important;
  color: $body-color !important;
  margin: 2.5px 0 !important;

  &:disabled {
    -webkit-text-fill-color: $body-color !important;
    opacity: 0.5;
  }
}

// badges
.material-icons-round.bdg {
  font-size: 30px !important;
  height: 30px !important;
  position: absolute;
  top: 5px;
  right: 5px;
}

// overlay {
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100%;
  background-color: rgba(white, 0.75);
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// gara
.gara {
  position: relative;

  border-radius: 25px;
  background-color: $secondary;
  box-shadow: $shadow;
  margin: 20px auto;
  padding: 10px;
  max-width: 500px;
  font-size: $text;

  .numero_gara {
    font-size: $text-big;
    color: $primary;
    margin: 0;
  }

  > div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .details {
    flex-grow: 1;
    margin-right: 20px;

    p {
      margin: 0 0 0 10px !important;
      text-align: left;

      span:nth-of-type(odd) {
        font-weight: bold;
      }

      span:nth-of-type(even) {
        font-style: italic;
      }
    }

    hr {
      border-top: 2px dashed #0055a2;
      opacity: 1;
      background-color: #e7e7e7;
      margin: 5px auto;
      max-width: 50%;
    }

    input[type='number'] {
      max-width: 25%;
      display: inline-block;
    }

    input[type='file'] {
      max-width: 65%;
      display: inline-block;
    }
  }

  .toggle {
    height: 30px;
    width: 30px;
    color: $primary;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 0;
    transition: transform 0.25s;

    .material-icons-round {
      font-size: 30px;
    }

    &.rotate {
      transform: rotate(-180deg);
    }
  }
}

@media screen and (max-width: 400px) {
  .gara {
    font-size: $text-small;
  }
}