/*bootstrap color override*/
$primary: #0055a2;
$secondary: #e7e7e7;
$danger: #ff3823;
$warning: #fec63d;
$success: #72bb53;
$info: #5181d4;

/*shadow*/
$shadow-color: #606060;
$shadow: 0px 2px 3px 0px $shadow-color;

/*font size*/
$title: 30px;
$subtitle: 24px;
$subsubtitle: 20px;
$text-big: 20px;
$text-medium: 18px;
$text: 16px;
$text-small: 14px;